accelerate
aiofiles
aiohappyeyeballs
aiohttp
aiosignal
annotated-types
anyio
attrs
beautifulsoup4
certifi
cffi
charset-normalizer
click
colorama
colorlog
comtypes
contourpy
cycler
decorator
edge-tts
einops
fake-useragent
fastapi
ffmpy
filelock
fonttools
fpdf
frozenlist
fsspec
gradio
gradio_client
gTTS
h11
httpcore
httpx
huggingface-hub
idna
imageio
imageio-ffmpeg
insta-scrape
Jinja2
kiwisolver
markdown-it-py
MarkupSafe
matplotlib
mdurl
moviepy
mpmath
multidict
networkx
numpy
opencv-python
orjson
outcome
packaging
pandas
pillow
proglog
propcache
psutil
PuLP
pycparser
pydantic
pydantic_core
pydub
pygame
Pygments
pyparsing
PyPDF2
pypiwin32
PySocks
python-dateutil
python-dotenv
python-multipart
pyttsx3
regex
requests
rich
ruff
safehttpx
safetensors
scipy
selenium
semantic-version
setuptools
shapely
shellingham
six
sniffio
sortedcontainers
soupsieve
srt
starlette
sympy
tabulate
timm
tokenizers
tomlkit
torch
torchaudio
torchvision
tqdm
transformers
trio
trio-websocket
typer
typing_extensions
tzdata
undetected-chromedriver
urllib3
uvicorn
webdriver-manager
websocket-client
websockets
wsproto
yarl